.customBtn {
    color: #fff;
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  /* 1 */
.btn1 {
    border: none;
    background-color: #ff9aff;
    box-shadow: 0 0 5px #ef97e8;
  }
  .btn1:hover {
     box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
  }